.App {
  text-align: center;
  background-color: #dff2f7;
  background-image: url('./zblogosoftblue.png');
  min-height: 138.89vh; /* 1000/720, used to fit to other screen sizes*/
  background-size: 66%; /* just enough so logo takes up screen (720/1080 = 2/3) */
  height: auto !important;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

.App-overflow {
  background: #dff2f7;
}

.modal-style{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  transform: translate(-50%, -50%) !important;
  background: #dff2f7;
}

.modal-text{
  padding: 5%;
}

.embedded-bandcamp{
  width: 67vw; /* (500/1080) */
  height: 67vw; /* (500/720) */
}

.firstInTwoCentered{
  text-align: center;
}
.inline{
  display: inline-block;
}
.bridgeBetweenSections{
  position: relative;
  text-align:center;
  top: 75px;
  max-width: 1080px;
  margin: 0px auto;
  background-color: white;
}

.secondInTwo{
  position: relative;
  top: 100px;
}

.hidden{
  display: none;
}

.unhidden{
  display: initial;
}


.makestack{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
  position: fixed;
}

.makerows{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.floatontop{
  z-index: 10;
}