.App {
  text-align: center;
  background-color: #dff2f7;
  background-image: url('./zblogosoftblue.png');
  height: 1000px;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.embedded-bandcamp{
  width: 500px;
  height: 500px;
}

.firstInTwoCentered{
  text-align: center;
}
.inline{
  display: inline-block;
}
.bridgeBetweenSections{
  position: relative;
  text-align:center;
  top: 75px;
  max-width: 1080px;
  margin: 0px auto;
}
.bridgeBetweenSections span{
  background-color: white;
}
.secondInTwo{
  position: relative;
  top: 100px;
}

.hidden{
  display: none;
}

.unhidden{
  display: initial;
}